<html>
<head>
  <title></title>

  <link href="lib/Dialog/style.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="lib/vendor/require.js"> </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script type="text/javascript">
    
    require.config({
      packages: [
        'lib'
      ]
    })
    
    require([
      'lib'
    ], function(wtwui) {
      
      window.wtwui = wtwui


      wtwui.confirm('Are you sure?', function(ok) {
        if(ok) {
          console.log('okd');
        } else {
          console.log('canceled');
        }
      })

      wtwui.confirm('Remove user', 'Are you sure?', function(ok) {
        if(ok) {
          console.log('okd');
        } else {
          console.log('canceled');
        }
      })

      wtwui.confirm(function(ok) {
        if(ok) {
          console.log('okd');
        } else {
          console.log('canceled');
        }
      })

      return 
      conf = new wtwui.Confirmation({
        title: 'Remove User',
        message: 'Are you sure?',
        effect: 'drop'
      })
      .ok(function() {
        console.log('okd');
      })
      .cancel(function() {
        console.log('canceled');
      })
      .show()



      

      


    })
  </script>

</head>
<body>

</body>
</html>