<html>
<head>
  <title></title>

  <link href="gorillatron/progg/wtwui/lib/css/Dialog.css" media="screen" rel="stylesheet" type="text/css">
  <link href="gorillatron/progg/wtwui/lib/css/Overlay.css" media="screen" rel="stylesheet" type="text/css">
  <link href="gorillatron/progg/wtwui/lib/css/Tip.css" media="screen" rel="stylesheet" type="text/css">
  <link href="gorillatron/progg/wtwui/lib/css/Crit.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="gorillatron/progg/wtwui/vendor/require.js"> </script>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>



  <script type="text/javascript">
    
    require({
      packages: [
        {
          name: 'wtwui',
          location: 'gorillatron/progg/wtwui'
        }
      ]
      },
      [
        'wtwui',
        'wtwui/lib/Dialog'
      ], 
    function(wtwui, Dialog) {
      
      

      var c = new wtwui.Confirmation({
        message: 'looool',
        effect: 'drop',
        ok: {
          title: 'okaaau',
          callback: function() {
            alert('o')
          }
        },
        cancel: {
          title: 'NOOES',
          callback: function() {
            alert('C')
          }
        }
      })

      new wtwui.Crit({ el: "tip-target" })
   

    })
  </script>

</head>
<body>

  <div id="tip-target" style="border: 1px solid gray; width: 200px; height: 50px; margin: 500px 0px 0px 500px"></div>
  <div style="height: 2400px"></div>

</body>
</html>